[Desktop Entry]
Type=Application
Name=Yazi
Comment=Terminal file manager
Exec=kitty --class yazi-fm -e yazi %F
Icon=system-file-manager
Terminal=false
Categories=System;FileTools;FileManager;
MimeType=inode/directory;
Keywords=files;file;manager;explore;browser;
